.input{
    max-width: 270px;
    z-index: 2;
    border-right: 0;
    width: 100%;
    line-height: 1.1;
    height: 40px;
    padding: 12px;
    background: #fff;
    border: 1px solid #e7e7e7;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    margin-top: 10px;
}

.input::placeholder{
    color: #ccc;
}

.input:focus{
    outline: 0;
    border: 2px solid #95e1d3;
    border-radius: 5px;
}

.inputForFilters{
    max-width: 200px;
    z-index: 2;
    width: 100%;
    line-height: 1.1;
    height: 30px;
    padding: 12px;
    background: #fff;
    border: 1px solid #e7e7e7;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    margin-top: 5px;
    margin-right: 5px;
}

.inputForFilters::placeholder{
    color: #ccc;
}

.inputForFilters:focus{
    outline: 0;
    border: 2px solid #95e1d3;
    border-radius: 5px;
}

.errorInner{
    position: relative;
    background-color: #f38181;
    padding: 5px 12px;
}

.errorInnerTriangle{
    position: absolute;
    width: 20px;
    z-index: 10;
    top: -12px;
    right: 12px;
}

.errorText{
    color: white;
}

/*
.input:focus{
    outline: 0;
    border: 2px solid #95e1d3;
}*/

.checkboxCustom{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.label{
}

.label div{
    width: calc(100% - 5px);
    min-width: 60px;
    height: 25px;
    display: block;
    user-select: none;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    padding: 5px;
    margin-right: 10px;
    /*margin-top: 10px;
    margin-bottom: 5px;*/
    color: #333333;
}

.label:hover div{
    background-color: #95e1d3;
    color: #ffffff;
}

.checkboxCustom:checked+label div{
    background-color: #95e1d3;
    color: white;
    font-weight: 500;
}

.checkboxInner{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    margin-top: 5px;
}

.checkboxText{
    font-size: 12px;
    color: #333333;
}

.checkboxLink{
    text-decoration: none;
    color: #f38181;
}

.errorChecked{
    border: 1px solid #f38181;
    padding: 2px;
    margin: 5px 0;
}

.inputInnerAuto{
    position: relative;
}

.autoContainer{
    position: absolute;
    overflow: auto;
    width: 100%;
    max-width: 200px;
    max-height: 300px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-top: none;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.3);
}

.option{
    padding: 10px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.option:hover{
    background-color: #e7e7e7;
}

