.animateBG{
    background-color: #f3818130;
    animation: animateBG 2s infinite;
    transition: background-color 1s ease;
}

.newPropertyText{
    border-radius: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    width: 80px;
    position: absolute;
    background-color: #f38181;
    color: white;
    padding: 5px;
    top: 0;
    left: 0;
    font-weight: bold;
    transition: width 0.3s ease;
    transform: rotate(-45deg) translate(-25%, -25%);
    /*animation: 1s ease-in-out animate infinite;*/
}

@keyframes animate {
    50%{
        width: 100px;
    }
}

@keyframes animateBG {
    50%{
        background-color: #f8f8f8;
    }
}