.property{
    background-color: #f8f8f8;
/*    border-radius: 10px;*/
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    margin: 10px 0;
}

.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333333;
}

.img{
    width: 170px;
    height: 170px;
    margin-right: 40px;
}

.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    color: #333333;
}

.title{
    text-decoration: none;
    color: #333333;
    font-size: 24px;
    font-weight: 500;
    transition: color 0.2s ease;
}

.title:hover{
    color: #f38181;
}

.description{
    font-size: 14px;
}

.descriptionTitle{
    font-size: 18px;
    font-weight: 500;
}

.descriptionText{

}

.phoneNumber{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
}

.phoneNumberTitle{
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
}

.phone{
    margin-right: 10px;
}

.phoneNumberShow{
    font-size: 14px;
}
.btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
}

.btn{
    background-color: #95e1d3;
    padding: 5px;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.closeIcon{
    margin-left: 10px;
    width: 18px;
    height: 18px;
}

.link{
    text-decoration: none;
    color: #333333;
    transition: color 0.2s ease;
}

.link:hover{
    text-decoration: none;
    color: #f38181;
}

.noImg{
    width: 170px;
    height: 170px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333333;
}