.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 210px);
}

.officeInnner{
    margin: 30px 0;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    max-width: 350px;
}

.title{
    text-align: center;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.title:after{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    margin: 5px auto;
    background-color: #f38181;
}

.userInfo{
    color: #333333;
    margin-bottom: 15px;
    width: 100%;
    font-weight: 500;
}

.phone > span,
.email > span,
.countDays > span,
.referrals > span{
    font-weight: normal;
}

.countDaysInner{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

.buySubscription{
    text-decoration: none;
    color: #cccccc;
    margin: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    transition: color 0.2s ease;
}

.buySubscription:hover{
    color: #333333;
}

.userInfo > div{
    margin-bottom: 5px;
}


.btns{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 5px 15px;
    color: #333333;
    font-weight: 500;
    width: 100%;
    height: 40px;
    max-width: 200px;
    background-color: white;
    border: 2px solid #95e1d3;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover{
    max-width: 220px;

}

.btnFavorites{
    margin-right: 10px;
}

/*.subscription{
    background-color: #f8f8f8;
}*/

.referralsInner{
    /*background-color: #f8f8f8;*/
}

.referralsCodeInner{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 5px;
}

.referralsCode{
    margin-left: 5px;
    font-weight: normal;
}

.referrals{
    margin-bottom: 5px;
}

.settingsWrapper{
    margin-top: 5px;
}

.jobWithClient{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
}

.jobWithClientInner:after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #f38181;
    transition: width 0.5s ease;
}

.jobWithClientInner:hover:after{
    width: 200px;
}

.commissionInner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.displayFlexWithRow{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.percentageInner,
.surchargeInner{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 5px;
}

.commissionText{
    font-size: 14px;
    font-weight: bold;
}

.commissionBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    color: #333333;
    font-weight: 500;
    width: 110px;
    height: 25px;
    font-size: 14px;
    background-color: white;
    border: 2px solid #95e1d3;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.commissionBtn:hover{
    width: 220px;

}

.commissionInput{
    width: 100%;
    margin-right: 5px;
}

.closeIcon{
    margin-left: 5px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.closeIcon:hover{
    width: 18px;
    height: 18px;
}

.preloaderInner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader{
    height: 50px;
    width: 50px;
}