.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    padding: 0;
    margin-bottom: 0;
}

.pagination li{
    list-style-type: none;
    border: 1px solid #333333;
    border-right: none;
}

.pagination li:last-child{
    border-right: 1px solid #333333;
}

.pagination li a {
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #333333;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}


.pagination li.active a{
    font-weight: bold;
    font-size: 20px;
    background-color: #cccccc;
}

.pagination li.disabled a{
    opacity: 0.5;
}