.slick-next {
    right: 20px !important;
    z-index: 100;
/*    top: 45%;*/
}

.slick-prev {
    left: 5px !important;
    z-index: 100;
/*    top: 45%;*/
}

.slick-prev:before,
.slick-next:before {
    font-size: 35px;
    opacity: .75;
    color: #f8f8f8;
}

.slick-dots {
    background-color: #f8f8f859;
    bottom: 0px;
}

.slick-dots li {
    margin: 0;
}

.slick-dots li button:before {
    font-size: 8px;
}

.slick-dots li.slick-active button:before {
    font-size: 10px;
}