.userInfoInner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    border: 1px solid #cccccc;
    border-radius: 7px;
    padding: 3px 5px;
}

.userWrapper{

}

.userInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.authInner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.authText{
    text-decoration: none;
    color: #333333;
    margin: 0 5px;
    cursor: pointer;
}

.authText:after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin: 0px auto 0px auto;
    background-color: #f38181;
    transition: width 0.5s ease;
}

.authText:hover:after{
    width: 100%;
}

.logoutText,
.buyTariff,
.countDays{
    text-decoration: none;
    color: #333333;
    margin: 0 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.logoutText:after,
.buyTariff:after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin: 0px auto 0px auto;
    background-color: #f38181;
    transition: width 0.5s ease;
}

.logoutText:hover:after,
.buyTariff:hover:after{
    width: 100%;
}

.buyTariff,
.countDays{
    color: #f38181;
    margin: 0;
}

.countDays div span{
    font-size: 16px;
    font-weight: bold;
}

.userPhone{
    font-size: 14px;
    font-weight: 500;
}

.icon{
    margin-right: 5px;
    width: 32px;
    height: 32px;
    transition: filter 0.2s ease;
}

.icon:hover{
    filter: drop-shadow(0px 0px 4px #f38181);
}

.onlineCount{
    position: relative;
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: #f38181;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-30%,-30%);
    cursor: pointer;
}

.onlineCountText{
    position: absolute;
    top: 50%;
    right: 5px;
    /*width: 180px;*/
    width: 0px;
    height: 15px;
    opacity: 0;

    overflow: hidden;
    transform: translate(0,-50%);
    background-color: #f38181;
    z-index: -10;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 3px;
}

.onlineCountText div{
    line-height: 2px;
    transition: all 0.3s ease;
    font-size: 0px;
}

.onlineCount:hover .onlineCountText{
    opacity: 1;
    width: 180px;
}

.onlineCount:hover .onlineCountText div{
    font-size: 12px;
}

.jobWithClientInner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}