.filters{
    display: flex;
    flex-flow: column nowrap;
}

.checkboxs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
}

.formSection{
    display: flex;
    flex-flow: row nowrap;
}

.title{
    font-size: 20px;
    text-align: center;
    color: #333333;
}

.labelTitle{
    color: #333333;
    margin-top: 5px;
    font-weight: 500;
}

.labelTitle2{
    color: #333333;
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
}

.typeOfferInner{
    margin-bottom: 5px;
}

.checkboxsTypeProperty{
    display: flex;
    flex-flow: column nowrap;
}

.btns{
   margin-top: 15px;
}

.btn{
    height: 30px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    margin-right: 5px;
    padding: 0 5px;
    width: 100%;
    max-width: 200px;
    font-weight: bold;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
}

.btn:hover{
    background-color: #e7e7e7;
}

.filtersWithMap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

.map{
    position: relative;
    width: 180px;
    height: 180px;
    border: 1px solid #e7e7e7;
    margin-right: 15px;
}

.mapSolid{
    position: absolute;
    top: 0;
    left: 0;
    width: 178px;
    height: 178px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.map:hover .mapSolid{
    opacity: 1;
}