.contentForStaticEl{
    position: relative;
}

.btnOpenSB{
    position: absolute;
    width: 25px;
    top: 0;
    left: -5px;
    background-color: #f38181;
    padding: 5px 0;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    outline: none;
    opacity: 0.75;
}

.btnOpenSB:hover{
    padding: 10px 0;
    opacity: 1;
}

.oneWord,
.twoWord{

}

.oneWord{
    margin-bottom: 5px;
}

.symbol{
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    margin-top: -3px;
}