@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-react-inputs/styles/material.css";


/*Дорожка слайдера*/
.e-control-wrapper.e-slider-container.e-horizontal .e-slider-track  {
    height: 4px !important;
}

/*Ползунок*/
.e-control-wrapper.e-slider-container .e-slider .e-handle {
    background-color: #f9920b;
    border-radius: 50%;
    border: 0;
}

.handleAnimate {
    top: 34.5%;
    left: 2%;
    z-index: 100;
    position: absolute;
    height: 35px;
    width: 35px;
    background-image: url("./touch.svg");
    background-size: 35px 35px;
    animation: 2s ease-in-out moveHandRight infinite;
}

@keyframes moveHandRight {
    100%{
        left: 88%;
    }
}

/*Кнопки*/
.e-control-wrapper.e-slider-container .e-slider-button {
    background: #f38181 !important;
    height: 25px;
    width: 25px;
}