.container{
    width: 100%;
    padding: 5px 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.tariffs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

}

.calcInner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.calc{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
}

.title{
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
}

.cardsRow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.card{
    margin: 10px;
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.days{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin-bottom: 20px;
}

.daysCount{
    text-align: center;
    font-weight: bold;
    font-size: 66px;
    color: #333333;
    margin-bottom: -25px;
}

.daysText{
    font-weight: bold;
    font-size: 30px;
    line-height: 110%;
    color: #95e1d3;
}

.price{
    font-weight: bold;
    font-size: 30px;
    color: #333333;
    margin-top: -10px;
}

.button{
    cursor: pointer;
    width: 125px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #95e1d3;
    background-color: #95e1d3;
    border-radius: 7px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.buttonText{
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    transition: color 0.3s ease;
}

.button:hover{
    background-color: #ffffff;
    border-radius: 7px;
}

.buttonText:hover{
    color: #95e1d3;
}

.inputDaysCount{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.daysCountText{
    margin-right: 5px;
}
.priceCalc{
    font-size: 18px;
    margin: 10px 0;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 5px 15px;
    color: #333333;
    font-weight: 500;
    width: 100%;
    height: 30px;
    max-width: 150px;
    background-color: #ffffff;
    border: 1.5px solid #95e1d3;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover{
    max-width: 170px;
}

.input{
    max-width: 80px;
    z-index: 2;
    width: 100%;
    line-height: 1.1;
    height: 30px;
    padding: 12px;
    background: #fff;
    border: 1px solid #e7e7e7;
    font-size: 16px;
    font-weight: 300;
    color: #333;
}

.input::placeholder{
    color: #ccc;
}

.input:focus{
    outline: 0;
    border: 2px solid #95e1d3;
    border-radius: 5px;
}