.logo__inner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    text-decoration: none;
    padding-right: 20px;
}
.logo__img{
    width: 50px;
    height: 50px;
}
.logo__text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: #333;
    /*text-transform: uppercase;*/
}
.logo__text span{
    color: #f38181;
}